.icon-block {
  position: absolute;
  bottom: 1em;
  right: 2em;
}
.icon-wrapper {
  background-color: #82af98;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  margin: 3px;
}
.heart-wrapper {
  background-color: #fc5757;
}
.symbole {
  color: white;
  font-size: larger;
}
